.tab-list-item {
  border-bottom: 1px solid lighten($guardian-blue, 2%);
  font-size: .95rem;
  list-style: none;

  &__title {
    color: currentColor;
    font-family: 'Roboto', serif;
    font-size: 1.05rem;
    display: block;
    padding: 1rem;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__date {
    display: block;
    font-size: .7rem;
    margin-bottom: .1rem;
  }

  & + & {
    border-top: 1px solid $guardian-blue-dark;
  }
}
