.tab {
  background-color: $guardian-blue;
  color: white;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;

  @include medium {
    width: 28rem;
  }

  &__header {
    display: none;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    &-item {
      flex-grow: 1;

      &-title {
        background-color: $guardian-grey-dark;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        line-height: 1.2;
        margin-bottom: 0;
        margin-top: 0;
        padding: .8rem 1.3rem .5rem 1.3rem;
        user-select: none;

        &:hover,
        &:focus {
          background-color: darken($guardian-grey-dark, 10%);
          cursor: pointer;
          outline: none;
        }

        &--is-active {
          background-color: transparent;
          border-top: .3rem solid $guardian-blue-dark;
          box-shadow: 0 4px 0 0 $guardian-blue;
          color: white;
          font-weight: bold;
          padding-top: .5rem;

          &:hover,
          &:focus {
            background-color: $guardian-blue;
            cursor: pointer;
            outline: none;
          }
        }
      }

      & + & {
        border-left: 1px solid darken($guardian-grey-dark, 10%);
      }
    }
  }

  &__panel {
    border-top: 2px solid white;
    padding: .8rem 1.3rem;

    > ol {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;
    }

    &-title {
      font-family: Arial;
      font-size: 1.1rem;
      margin-bottom: .5rem;
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  // progressive disclosure
  &--is-initialized &__header {
    display: flex;
  }

  &--is-initialized &__panel {
    display: none;
  }

  &--is-initialized &__panel--is-active {
    display: block;
  }

  &--is-initialized &__panel-title {
    display: none;
  }
}
